body{

background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
text-align:center;

}

header{

padding:40px;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
padding:30px;

}

.card{

background:#1b1b1b;
border-radius:10px;
padding:20px;
transition:0.3s;

}

.card:hover{

transform:translateY(-5px);
border:1px solid gold;

}

.card img{

width:100%;

}

.card-title{

margin-top:10px;

}

footer{

margin:40px;

}